/* hero section start*/
.hero {
  background-color: var(--Neutral20);
}
.hero-container .title {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  width: 413px;
  /* display: none; */
  font-size: 56px;
  line-height: 120%;
}

.hero-container .description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  width: 374px;
}

.hero-img-right {
  width: 657px;
  height: 457px;
}

/* Marketdown section */
.marketdown-section {
  background-color: var(--white);
}
.marketdown-text {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;

  color: #0a0a0a;
}

.marketdown-section .marketdown-text span {
  color: var(--Red500);
}

.input-container {
  border: 1px solid #e5ecf2;
  box-sizing: border-box;
  border-radius: 40px;

  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0.5rem;
}
.input-container input {
  border: none;
  outline: none;
  padding-left: 0.5rem;
}

.marketdown-section .recently-added {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recently-added .recently-added-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recently-added .recently-added-inner p {
  margin: 0px 0px 0px 0.4rem;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #0a0a0a;
}

.recently-added-inner .backward .forward {
  cursor: pointer;
  display: none;
}

.crypt-container .number {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;

  color: #0a0a0a;
}

.currency-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #0a0a0a;
}

.currency-short {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #98a2ae;
}

.price-td {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--Red500);
  cursor: pointer;
}

.price-td img {
  margin-right: 0.3rem;
}
